<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Hull_Connection>
      <version>0.0.3</version>
    </Hull_Connection>
  </modules>
  <global>
    <events>
      <customer_logout>
        <observers>
          <hull_connection>
            <type>singleton</type>
            <class>hull_connection/observer</class>
            <method>logout</method>
          </hull_connection>
        </observers>
      </customer_logout>
    </events>
    <models>
      <hull_connection>
        <class>Hull_Connection_Model</class>
      </hull_connection>
    </models>
    <resources>
      <hull_connection_setup>
        <setup>
          <module>Hull_Connection</module>
          <class>Mage_Customer_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </hull_connection_setup>
    </resources>
    <blocks>
      <hull_connection>
        <class>Hull_Connection_Block</class>
      </hull_connection>
    </blocks>
    <helpers>
      <hull_connection>
        <class>
          Hull_Connection_Helper
        </class>
      </hull_connection>
    </helpers>
  </global>
  <frontend>
    <routers>
      <hull_connection>
        <use>standard</use>
        <args>
          <module>Hull_Connection</module>
          <frontName>hull_connection</frontName>
        </args>
      </hull_connection>
    </routers>
    <layout>
      <updates>
        <hull_connection module="Hull_Connection">
          <file>hull/connection.xml</file>
        </hull_connection>
      </updates>
    </layout>
  </frontend>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <hull_options>
                      <title>Hull.io Configuration</title>
                    </hull_options>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>
